:root {
  --brand-color: #77c59e;
  --brand-padding: 20px;
  --brand-title: "Crimson Text", serif;
  font-style: normal;
  --brand-body: "Work Sans", sans-serif;
  --brand-black: #212529;
  font-optical-sizing: auto;
  font-style: normal;
  --brand-grey: #21252980;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  background-color: var(--brand-color);
  color: white;
  border-color: black;
  padding: 9px;
}

.adatech {
  font-size: 4rem;
  font-family: var(--brand-body);
 
}
.menu {
  text-decoration: none;
  color: white;
  font-size: 4rem;
}
.logo {
  transform: scale(1.5);
  margin: 10px;
}

footer {
  background-color:var(--brand-color);
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%
}
footer {
  background-color: #77c59e;
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  padding: 25px;
  
}








































/* PATRI */
.white-section {
  
  padding: 20px;
  margin: 5px;
   justify-content: center;
 width: 100%;
 }
.white-photo {
    background-image: url(../img/2.svg);
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  width: 100%;
  height: 240px;
  background-position: top;
}
.white-title {
    font-family: var(--brand-title);
  color: var(--brand-black);
}
.body-white {
  font-family: var(--brand-body);
  color: var(--brand-grey);
}
.mas-btn {
  display: flex;
  border: solid var(--brand-black) 1px;
  background-color: var(--brand-black);
  color: white;
  font-family: var(--brand-body);
  width: 10rem;
  height: 3rem;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}
































































.crisimagen {background-color: #77c59e;
  width: 50%;
  height: 20%;}
  .cristexto {background-color: #77c59e;
    color: white;
  width: 100%;
  height: 100%;
  
  }
  .crisbtn {height: 30px;
  width: 20%;
  margin: 20%;
  
  }
  .crisparrafo  { margin: 10%;}
  .crish1 {margin: 5%;}









/*CRISTINA*//*CRISTINA*/
























































































/*SARA*//*SARA*/
.banner {
  background-color: #77c59e;
  color: white;
  width: 100%;
  height: 100%
}
.subtitulo {
  background-color: white;
  color:black;
  text-align: center;
  padding: 40px;
  font-family: CrimsonText;
}
.menu {
  background-color: white;
  color: black;
  flex-direction: column;
  font-family: WorkSants;
}
.click {
  color:white;
  background-color: black;
  width: 90%;
  text-align: center;
  height: 40px;
  font-size: 20px;
}
.titulo {
  font-family: WorkSans;
}
.mapa {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}
.final {
  text-align: right;
}
.espacio {
  border-color: black;
  border-style: solid;
  border-radius: 25px;

}

















































































/*RAQUEL*//*RAQUEL*/













