:root {
  --brand-color: #77c59e;
  --brand-padding: 20px;
  --brand-title: "Crimson Text", serif;
  font-style: normal;
  --brand-body: "Work Sans", sans-serif;
  --brand-black: #212529;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  background-color: var(--brand-color);
  color: white;
  border-color: black;
  padding: 9px;
}

.adatech {
  font-size: 4rem;
  font-family: var(--brand-title);
 
}
.menu {
  text-decoration: none;
  color: white;
  font-size: 4rem;
}
.logo {
  transform: scale(1.5);
  margin: 10px;
}

footer {
  background-color:var(--brand-color);
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 25px;
  font-family: var(--brand-title);
}
















































/*PATRI*/
/*PATRI*/
.white-section {
  padding: var(--brand-padding);
}
.white-photo {
  width: 100%;
}
.white-title {
  font-family: var(--brand-title);
  color: var(--brand-black);
}
.body.white {
  font-family: var(--brand-body);
}

.mas-btn {
  border: solid var(--brand-black) 1px;
  background-color: var(--brand-black);
  color: white;
  font-family: var(--brand-body);
  width: 10rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
}










































































/*CRISTINA*//*CRISTINA*/



































































































/*SARA*//*SARA*/



































































































/*RAQUEL*//*RAQUEL*/













