@use "../core/variables" as vars;
.crisgomez {
  margin: 0;
  padding-top: 60px;
  padding-inline: 30px;
  padding-bottom: 30px;
  background-color: var(--brand-color);
}

.crisimagen {
  background-color: var(--brand-color);
  background-image: url(../img/1.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  width: 100%;
  height: 240px;
  background-position: top;
}
.cristexto {
  background-color: var(--brand-color);
  font-family: var(--brand-body);
  color: white;
  width: 100%;
  height: 100%;
  text-align: left;
}
.crisbtn {
  display: flex;
  border: solid white;
  background-color: white;
  color: var(--brand-black);
  font-family: var(--brand-body);
  width: 10rem;
  height: 3rem;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
}
.crisparrafo {
  padding-block: 10%;
}
.crish1 {
  padding-block: 5%;
  font-family: var(--brand-title);
}

@media (min-width: 1200px) {
  .crisgomez {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .crisimagen {
    height: 100%;
  }
}
.white-section {
  padding-top: 60px;
  padding-inline: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.white-photo {
  background-image: url(../img/2.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  width: 100%;
  height: 240px;
  background-position: top;
}
.white-title {
  padding-top: 1.5rem;
  font-family: var(--brand-title);
  color: var(--brand-black);
}
.body-white {
  padding-top: 1.5rem;
  font-family: var(--brand-body);
  color: var(--brand-grey);
}
.mas-btn {
  margin-top: 30px;
  display: flex;
  border: solid var(--brand-black) 1px;
  background-color: var(--brand-black);
  color: white;
  font-family: var(--brand-body);
  width: 10rem;
  height: 3rem;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .ladies {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .gentleman {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.equipo {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-block: 50px;
  color: var(--brand-black);
  font-family: var(--brand-title);
}

.all_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 70%;
}

.box_perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 325px;
  min-width: 200px;
  width: 100%;
  padding-top: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.perfil_foto {
  width: 175px;
  height: 175px;
  border-radius: 250px;
  border-color: black;
}

.perfil_txt {
  margin-top: 20px;
  width: 100%;
}

.cargo {
  font-family: var(--brand-body);
  color: var(--brand-grey);
  margin-top: 15px;
}

@media all and (min-width: 768px) {
  .all_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 80%;
  }
  .box_perfil {
    width: 250px;
    min-width: 182px;
  }
}
