:root {
  --brand-color: #77c59e;
  --brand-padding: 20px;
  --brand-title: "Crimson Text", serif;
  font-style: normal;
  --brand-body: "Work Sans", sans-serif;
  --brand-black: #212529;
  font-optical-sizing: auto;
  font-style: normal;
  --brand-grey: #21252980;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.encabezado {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  background-color: var(--brand-color);
  color: white;
  border-color: black;
  padding: 9px;
}

.adatech {
  font-size: 2rem;
  font-family: var(--brand-body);
 
}
.menu {
  background-color: var(--brand-color);
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.logo {
 
  margin: 10px;
}

.footer {
  background-color: var(--brand-color);
  color: white;
   font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin: 10px;

  }







































/* PATRI */
.white-section {
padding-top: 60px;
padding-inline: 30px;
padding-bottom: 30px;
max-width: 1200px;
 margin-inline-start: auto;
  }
.white-photo {
    background-image: url(../img/2.svg);
    background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  width: 100%;
  height: 240px;
  background-position: top;
}
.white-title {
  padding-top: 1.5rem;  
  font-family: var(--brand-title);
  color: var(--brand-black);
}
.body-white {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  font-family: var(--brand-body);
  color: var(--brand-grey);

  }
.mas-btn {
  display: flex;
  border: solid var(--brand-black) 1px;
  background-color: var(--brand-black);
  color: white;
  font-family: var(--brand-body);
  width: 10rem;
  height: 3rem;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
  margin: 3 rem;
}

@media all and (width > 1200px) { 
  .white-section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-inline-start: auto;
    // display: grid;
    // grid-template-columns: 2fr;
    // grid-template-rows: 3fr;
    // gap: 50px;
  }

  .ladies {
    background-image: url('../public/2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .gentleman {
    background-image: url('../public/3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  // .white-photo {
  //   grid-row-start: 1;
  //   grid-row-end: 3;
  //   grid-column: 1;
  // }
  // .white-title { grid-column: 2;
  // grid-row: 1;}

}






























































.crisimagen {background-color: #77c59e;
  background-image: url(../img/1.svg);
  background-repeat: no-repeat;
background-attachment: scroll;
background-size: contain;
width: 100%;
height: 240px;
background-position: top;
 }
  .cristexto {background-color: var(--brand-color);
    color: white;
  width: 100%;
  height: 100%;
  
  }
  .crisbtn { display: flex;
    border: solid var(--brand-black) 1px;
    background-color: var(--brand-black);
    color: white;
    font-family: var(--brand-body);
    width: 10rem;
    height: 3rem;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
  
  
  }
  .crisparrafo  { margin: 10%;}
  .crish1 {margin: 5%;}









/*CRISTINA*//*CRISTINA*/
























































































/*SARA*//*SARA*/

.subtitulo {
  background-color: white;
  color: black;
  text-align: center;
  padding: 40px;
  font-family: var(--brand-title);
}
.menu {
  background-color: white;
  color: black;
  flex-direction: row;
  font-size: 40px;
}
.click {
  color: white;
    background-color: black;
    width: 90%;
    text-align: center;
    height: 70px;
    font-size: 25px;
    border-radius: 10px;
    line-height: 2.50;
    margin: 50px;
}
.mapa {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;

}
.espacio {
  border-color: black;
  background-color: rgb(235, 230, 230);
  border-style: solid;
  border-radius: 10px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.espacio2 {
  border-color: black;
  background-color: rgb(235, 230, 230);
  border-style: solid;
  border-radius: 10px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  

}
.cajita1 {
  text-align: center;
}
.cajita2 {
 margin: 30px;
 font-family: var(--brand-body);
}






















.equipo {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-block:50px;
  color: var(--brand-black);
  font-family: var(--brand-title);
}

.all_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 70%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.perfil_foto {

width: 175px;
height: 175px;
border-radius: 250px;
border-color: black;
}

.perfil_txt {
margin-top: 20px;
width: 100%;
}

.cargo {
font-family: var(--brand-body);
color: var(--brand-grey);
margin-top: 15px;
}

/* background-color: #77C59E; */

@media all and (min-width: 481px) { 

  .all_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 80%;
  }

}