.encabezado {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  background-color: var(--brand-color);
  color: white;
  padding-block: 9px;
  padding-inline: 9px;
  gap: 1.25rem;
 }
header{
  position: sticky;
  top: 0;
  z-index: 1;
}
.nombre_adatech {
  font-size: 2rem;
  font-family: var(--brand-body);
  color: white;
  text-decoration: none;
 }
.menulines {
  background-color: var(--brand-color);
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 0.25rem;
  
}

  .menulist{
   gap: 1rem;
    align-items: center;
      
  }
  .menulist li a{
    background-color: var(--brand-color);
    font-family: var(--brand-body);
    text-decoration: none;
    color: white;
  
 }
 
 .menulist {
  display: none;
 }

@media (width > 1024px){
  .menulines {
  display: none;
}
   .menulist{
  display: flex;
}
}