<div class="crisimagen">
    
    <p style="background-image: url(./img/1.svg)" class="white-photo"></p>
    </div>
<div class="cristexto">
    <h2>WELCOME</h2> 
    <h1 class="crish1">Lorem impsum dolor sit amet
        consectetur</h1>
    <p class="crisparrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. subscript nemo hic quos ab dolors aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt detectus ist?</p>
    <div class="mas-btn">Explora</div>
</div>
