<header>
  <div class="encabezado">
    <a href="https://adalab.es/" target="_blank"
      ><img class="logo" src="./img/a.svg" alt="logo" /></a
    ><br />
    <h1 class="adatech">
      <a class="nombre_adatech" href="../contact.html"> AdaTech </a>
    </h1>
  </div>
  <nav class="navbar">
    <a class="menulines" href="#">&#x2630;</a>
    <ul class="menulist">
      <li><a href="https://adalab.es/" target="_blank"> Home</a></li>
      <li><a href="https://adalab.es/" target="_blank">Servicios </a></li>
      <li><a href="https://adalab.es/" target="_blank"> Nosotros </a></li>
      <li><a href="https://adalab.es/" target="_blank"> Contacto </a></li>
    </ul>
  </nav>
</header>
