<!-- Patri -->
<section class="white-section ladies">
  <!-- <article> -->
  <p style="background-image: url(./img/2.svg)" class="white-photo"></p>
  <h2 class="white-title">Lorem ipsum dolor sit amet consectetur</h2>
  <p class="body-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime alias
    inventore culpa velit, vero dignissimos, ullam laborum laudantium ipsa,
    fugit necessitatibus fuga praesentium. A nulla eveniet distinctio corrupti
    et excepturi.
    <a href="" class="mas-btn">Ver más</a>
  </p>
  <!-- </article> -->
</section>

<section class="white-section gentleman">
  <!-- <article> -->
  <p style="background-image: url(./img/3.svg)" class="white-photo"></p>
  <h2 class="white-title">Lorem ipsum dolor sit amet consectetur</h2>
  <p class="body-white">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime alias
    inventore culpa velit, vero dignissimos, ullam laborum laudantium ipsa,
    fugit necessitatibus fuga praesentium. A nulla eveniet distinctio corrupti
    et excepturi.
    <a href="" class="mas-btn">Ver más</a>
  </p>
  <!-- </article> -->
</section>
