    <div class="equipo">
      <h2>Nuestro equipo</h2>
      <div class="all_section">
          <div class="box_perfil">
              <div class="perfil">
                  <div class="perfil_foto">
                      <img src="img/c.svg" alt="foto de Peg">
                  </div>
                  <div class="perfil_txt">
                      <h2>Peg Legge</h2>
                      <p class="cargo">CEO</p>
                  </div>    
              </div>
            </div>
          <div class="box_perfil">
              <div class="perfil">
                  <div class="perfil_foto">
                      <img src="img/b.svg" alt="foto de Alexandra">
                  </div>
                  <div class="perfil_txt">
                      <h2>Alexandra Stolz</h2>
                      <p class="cargo">DESIGNER</p>
                  </div>
              </div>
            </div>
          <div class="box_perfil">
              <div class="perfil">
                  <div class="perfil_foto">
                      <img src="img/c.svg" alt="foto de Susan">
                  </div>
                  <div class="perfil_txt">
                      <h2>Susan Li</h2>
                      <p class="cargo">CTO</p>
                  </div>
              </div>
            </div>
          <div class="box_perfil">
              <div class="perfil">
                  <div class="perfil_foto">
                      <img src="img/d.svg" alt="foto de Janet">
                  </div>
                  <div class="perfil_txt">
                      <h2>Janet Bray</h2>
                      <p class="cargo">DEVELOPER</p>
                  </div>
              </div>
          </div>
      </div>
  </div>  

