<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
<div class="crisimagen">
    <img src="./img/1.svg" alt="fotogente">
    </div>
<div class="cristexto">
    <h2>WELCOME</h2>
    <h1 class="crish1">Lorem impsum dolor sit amet
        consectetur</h1>
    <p class="crisparrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. subscript nemo hic quos ab dolors aperiam nobis cum est eos error ipsum, voluptate culpa nesciunt detectus ist?</p>
    <button class="crisbtn">Explora</button>
</div>

    
</body>
</html>